@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
body{
	font-family: 'Ribeye Marrow', sans-serif;
	color: black;
}
* {
	box-sizing: border-box;
}
.header {
	padding: 15px 0px 0px 15px;
	background-color: #7EE5E5;
	display: block;
	position: fixed;
	z-index: 2;
	width: 100%;
			}
			.post {
				margin-left: 53px;
				height: 25px;
	background: #C57226;
	padding: 5px;
			}
.block {
	display: inline-block;
	margin: 0px 40px 0px 0px;
}
.logo {
	display: inline-block;
	background-color: black;
	color: #E3AE7D;
	padding: 10px 3px;
	margin-right: 5px;
	font-size: 18px;
}
.csp {
	font-size: 18px;
}
.button{
	border: solid;
	border-color: black;
	border-width: 1px;
	background-color:  #E3AE7D;
	padding: 15px 45px;
	text-decoration: none;
	color: black;
	margin: 30px 0px 200px 0px;
	border-radius: 5px;
	cursor: pointer;
}
.aboutsheet {
	display: none;
	position: fixed;
	height: auto;
	width: 50%;
	left: 50%;
top: 50%;
transform: translate(-50%,-50%);
	border: solid;
	border-color: black;
	border-width: 1px;
	background-color:  #E3AE7D;
	border-radius: 5px;
	padding: 5%;
}
.aboutsheet h2{
text-align: center;
color: black;
font-size: 25px;
padding-bottom: 2px;
}
.aboutsheet p{
padding-top: 10px;
color: black;
font-size: 15px;
margin-bottom: 5px;
}
.inline-header {
	text-decoration: none;
	color: black;
	margin: 0px 40px 0px 0px;
}

.viddil {
	margin: 200px 0px -430px 0px;
	}
.viddil-old {
	color: #807EE5;
	background-color: white;
	padding: 15px;
	height: 330px;
	box-shadow: 0px 4px 4px #50A058;
	border-radius: 30px;
	text-align: center;
}

.viddil-fam {
	color: #00C814;
	background-color: white;
	padding: 15px;
	height: 330px;
	box-shadow: 0px 4px 4px #50A058;
	border-radius: 30px;
	text-align: center;
	}
	
.brown-writings {
	color: #7D532B;
}
#pos {
	text-shadow: 1px 1px 2px #7D532B;
	display: inline-block;
	font-size: 36px;
	margin-right: 20px;
	padding-bottom: 20px;
}
.section1 {
	background: #fff url(../img/main-background.png) center center no-repeat;
	font-size: 14px;
	padding: 0px 0px 300px 0px
}
.section1and2 {
		background: #7EE5E5 url(../img/section1-2-background.png) center center no-repeat;
	}
.section2 {
	font-size: 14px;
	background-color: white;
}
.section2 h2 {
	font-size: 36px;
	line-height: 1.3;
	margin:190px 0px 35px 0px;
	}
.section2 h3 {
	font-size: 22px;
	vertical-align: top;
	line-height: 1.2;
	padding-bottom: 5px;
	}

.section3 {
	padding: 70px 0px 0px 0px;
	background-color: #F1DAC5;
}
.section3 h3 {
	text-shadow: 1px 1px 2px red;
	font-size: 24px;
	margin-bottom: 25px;
}
.section4 {
	background-color: #00C814;
	color: #DDFFC9;
	font-size: 36px;
	padding: 50px 0px 30px 0px;
	font-size: 14px;
}
.section4 p {
	font-size: 22px;
}
.section4 h2 {
	padding-bottom: 30px;
	padding-top: 10px;
}
.section5 {
	background-color: black;
	color: white;
	padding: 50px 0px 40px 0px;
}
.section1 h1 {
	padding: 150px 0px 20px 0px;
	font-size: 48px;
	line-height: 1.4;
}
.section1 .subtitle {
	font-size: 24px;
	line-height: 1.5;
	padding: 0px 0px 50px 0px;
}
.star img {
	height: 100px;
float: left;
	}
	.star * {
		margin: 0;
	}
.star {
	vertical-align: top;
	display: inline-block;
	height: 135px;
	width: 510px;
}
.long {
	width: 600px;
}
.down {
	margin-bottom: 10px;
}
.box {
	background-color: white;
	height: 166px;
	width: 200px;
	display: inline-block;
	font-size: 16px;
text-align: center;
margin: 0px 15px 30px 0px;
vertical-align: top;
border-radius: 30px;
}
.box {
	box-shadow: 1px 5px 5px #7D532B;
}
.box11, .box26, .box27, .box30 {
	padding:32px 0px;
}
.box21, .box13, .box15, .box28 {
	padding:20px 0px;
}
.box22, .box23, .box25, .box12, .box16, .box31 {
	padding:7px 0px;
}
.box24 {
	padding: 44px 0px;
}
.box29 {
	padding: 56px 0px;
}
.people-block {
	margin-right: 15px;
	background-color: transparent;
	border-radius: 30px;
	margin-bottom: 1%;
}
.people-block h3 {
	text-align: center;
}
.people-block p {
	display: none;
}
.podlozhka {
	display: none;
}
#contact {
	font-size: 22px;
	line-height: 2;
}
.triangles img {
	height: 30px;
}
.triangles {
	display: inline-block;
	padding-top: 70px;
	margin-left: -14px;
}

.box11 img {
margin-top: -55px;
margin-left: 30px;
}
.box img {
	position: absolute;
}
.box21 img {
	margin-left: -31px;
	margin-top: -52px;
}
.box22 img {
	margin-left: -35px;
	margin-top: -25px;
}
.box23 img {
	margin-left: -40px;
	margin-top: 95px;
}
.box24 img {
	margin-left: -30px;
	margin-top: -70px;
}
.box12 img {
	margin-left: 44px;
	margin-top: -54px;
}
.box13 img {
	margin-left: 35px;
	margin-top: -40px;
}
.box14 img {
	margin-left: -18px;
	margin-top: 28px;
}
.box25 img {
	margin-left: -53px;
	margin-top: 133px;
}
.box26 img {
	margin-left: -50px;
	margin-top: -40px;
}
.box15 img {
	margin-left: -55px;
	margin-top: -55px;
}
.box27 img {
	margin-left: -6px;
	margin-top: 93px;
}
.box28 img {
	margin-left: -66px;
	margin-top: -52px;
}
.box29 img {
	margin-left: -75px;
	margin-top: -37px;
}
.box30 img {
	margin-left: 68px;
	margin-top: -42px;
}
.box31 img {
	margin-left: 105px;
	margin-top: 15px;
}
.box16 img {
	margin-left: 125px;
	margin-top: -35px;
}
.viddil-old img {
height: 100%;
padding: 0;
margin-left: -45px;
margin-top: -45px;
background: transparent;
}
.viddil-fam img {
height: 110%;
padding: 0;
background: transparent;
margin-left: -20px;
margin-top: -45px;
}
.people-slider {
	position: relative;
}
.prev {
width: 50px;
height: 75px;
z-index: 1;
background: transparent url(../img/leftbutton.png) center center no-repeat;
border: none;
position: absolute;
margin-top: 140px;
margin-left: -25px;
}
.next {
width: 50px;
height: 75px;
background: transparent url(../img/rightbutton.png) center center no-repeat;
border: none;
position: absolute;
right:-10px;
top:140px;
}
.photo {
width: 90%;
height: 80%;
padding: 5%;
margin-left: 5%;
border-radius: 30px;
}
.menu {
	height: 60px;
	width: 40px;
	background: #fff;
	position: fixed;
}
.newsh1 {
	text-align: center;
	background-color: black;
	color: yellow;
	margin-bottom: 0;
}
.mainlink {
	position: fixed;
	top: 12px;
	color: white;
	text-decoration: none;
	font-size: 12px;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}
.mainlink:hover {
	color: yellow;
	text-decoration: underline;
}
.cspphoto {
	width: 100%;
}
.collapse {
	display: block;
}
.news1 {
margin-left: 50%;
transform: translateX(-50%);
color: black;
}
.news1background {
	background-color: blue;
}
.news1body {
	background-color: white;
}
.news1image {
	width: 100%;
	height: 100%;
	padding-top: 5px;
}
.news2background {
	background-color: yellow;
}
.news2background:not(.collapsed) {
	background-color: rgb(255,255,155);
}
.news2body {
	background-color: rgb(255,255,175);
	color: rgb(57,24,0);
}
.news2link {
	text-decoration: none;
}
.news2link:hover {
	text-decoration: underline;
	color: green;
}
.news2link:visited {
	color: green;
}
.news2photo {
	width: 100%;
	height: 100%;
	padding-top: 5px;
}