.inline-header {
	&:hover {
	color: #C57226;
	text-decoration: underline;
	}
}
.button {
	&:hover {
		color: black;
		text-decoration: underline;
	}
}
.menu-button {
		display: none;
	}
.menu {
	display: none;
}
.hoverafterimg {
	display: none;
}
.people-block {
	position: relative;
	&:hover {
			p {
			display: inline-block;
			position: absolute;
			margin-top: -75%;
			margin-left: 25%;
			color: black;
		}
		h3 {
			text-shadow: #f00 1px 0 0px, #f00 0 1px 0px, #f00 -1px 0 0px, #f00 0 -1px 0px;
		}
		.podlozhka {
			display: inline-block;
			position: absolute;
			height: 100%;
			width: 80%;
			margin: 5% 0px 0px 10%;
			border-radius: 13px;
			background-color: rgba(255,0,0,0.5);
		}
	}
}
.section4 {
		h3 {
		font-size: 27px;
	}}
@media (max-width: 1199.98px) {
	.aboutsheet {
		padding: 2%;
	}
	.mainlink {
	top: 30px;
}
	.section4 {
		h3 {
		font-size: 22px;
	}}
	.prev {
margin-top: 100px;
	}
	.next {
		top: 100px;
	}
	.viddil {
		&-old img {
			margin-left: -65px;
		}
		&-fam img {
			margin-left: -40px
		}
		&-vpo img {
		height: 40%;
		}
	}
	.section1and2 {
		background: #fff url(../img/section1-2-background.png) top center no-repeat;
	}
	.section1 {
	background: #fff url(../img/main-background.png) top center no-repeat;
}
	.block, .inline-header {
		margin-right: 20px;
	}
	.block {
		font-size: 16px;
	}
	.csp {
		font-weight: 600;
	}
	.post {
				display: none;
	}
	.box {
		margin-bottom: 35px;
		margin-left: 15px;
	}
	.me {
		margin-top: 7px;
	}
	.menu-button {
		display: none;
	}
	.menu {
	display: none;
}
}
@media (max-width: 991.98px) {
	.prev {
margin-top: 120px;
	}
	.next {
		top: 120px;
	}
	.triangles {
		display: none;

	}
	.long {
width: 100%;
	}
		.block {
		display: none;
	}
	.menu-button {
		display: none;
	}
	.post {
		display: inline-block;
margin-left: 30px;
&:hover {
	border: solid black 1px;
		}
	}
	.hoverafterimg {
		display: inline;
		position: absolute;
		height: 25px;
		width: 25px;
		margin: 13px 0 0 -25px;
		&:hover:after {
content: "bukyotgcsp2020@gmail.com (натисніть, щоб скопіювати)";
color: black;
font-size: 14px;
top: 30px;
left: -50px;
position: relative;
background-color: #C57226;
}
	}
	.logo {
margin-right: 30px;
	}
	.viddil-old {
		img {
			margin-left: -20px;
		}
	}
	.viddil-fam {
		img {
			margin-left: -10px;
		}
	}
	.viddil-vpo {
	margin-top: 20px;
	}
	.box {
		margin-bottom: 35px;
		margin-left: 10px;
	}
	.triangles {
		position: absolute;
	}
	.menu {
	display: none;
}
.logo {
	&:hover::after {
		content: "Центр соціальних послуг Буцької селищної ради";
		position: absolute;
		left: 10px;
		top: 70px;
		background-color: black;
	}
}
}
@media (max-width: 767.98px) {
	.people-block {
		margin-right: 0;}
	.aboutsheet {
		h2 {
			font-size: 18px;
		}
		p {
			font-size: 12px;
		}
	}
	.prev {
margin-top: 80px;
margin-left: -25px;
background-size: 100%;
width: 45px;
height: 70px;
	}
	.next {
		top: 80px;
		right:-25px;
		background-size: 100%;
width: 45px;
height: 70px;
	}
	.hoverafterimg {
		display: none;
	}
.section1and2 {
		background-repeat: repeat-x;
		margin-right: 0;
		width: 100%;
	}
	.header {
				.post {
			display: none;
		}
	}
	.menu-button {
		display: inline-block;
		position: absolute;
		margin-left: 25%;
		border: solid white 1px;
		height: 47px;
		width: 47px;
		background: url(../img/panel.png) center center no-repeat;
		&:focus {
		border-color: black;
		}
		}
	.menu {
right: 15%;
font-size: 10px;
height: auto;
width: auto;
color: black;
	text-decoration: none;
	&-content-string {
		border: solid white 1px;
		margin-top: -1px;
		background-color: #7EE5E5;
		text-align: center;
		a {
			text-decoration: none;
			color: black;
			&:hover {
				color: white;
			}
		}
		p {
			margin: 3px;
			
		}
	}
	}
	.post-menu {
				text-align: center;
				margin-top: 5px;
				height: 25px;
	background: #C57226;
	padding: 5px;
			}
	
	.viddil-old {
margin-top: -97px;
margin-bottom: 10px;
	}
	.viddil-vpo {
	margin-top: 10px;
	}
	.section1 {
		h1 {
		font-size: 38px;
	}
	.subtitle {
		font-size: 20px;
	}
	}
	.block, .inline-header {
		display:none;
	}
	.csp {
		display: inline-block;
	}
.star {
	img {height: 50px;}
	h3 {font-size: 16px;}
	p {font-size: 12px;}
	height:100px;
}
.section4 {
	h2 {
		text-align: center;
	}
}
.people-block {
	position: relative;
p, h3 {
font-size: 18px;
}
	&:active {
			p {
			display: inline-block;
			position: absolute;
			margin-top: -75%;
			margin-left: 25%;
			color: black;
		}
		h3 {
			text-shadow: #f00 1px 0 0px, #f00 0 1px 0px, #f00 -1px 0 0px, #f00 0 -1px 0px;
		}
	}
}
}
@media (max-width: 575.98px){
	.people-block {
	margin-right: 15px;}
	.people-block {
		p, h3 {
font-size: 24px;
}
	}
	.aboutsheet {
		h2 {
			font-size: 12px;
		}
		p {
			font-size: 10px;
		}
	}
	#h1 {
		font-size: 30px;
	}
	.section1{
		.subtitle {
		font-size: 17px;
		br {display: none;}
	}
	}
	
	.button {
display: inline-block;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.box {
		margin-left: 20%;
	}
	.box11 {
		margin-top: 30px;
	}
	#pos {
	text-align: center;
	font-size: 30px;
	margin-left: 10%;
}
.section3 {
		padding-top: 20px;
		h3 {
	text-align: center;
}
	}
	.prev {
margin-top: 140px;
margin-left: -18px;
width: 50px;
height: 75px;
	}
	.next {
		top: 140px;
		right:-3px;
		width: 50px;
height: 75px;
	}
	.people-slider {
		left: 7px;
	}
.star {
	width: auto;
	p {
		font-size: 9px;
	}	
}
.section4 {
	h2 {
		text-align: center;
	}
}
.menu-button {
		display: inline-block;
		position: absolute;
		margin-left: 0;
		border: solid white 1px;
		height: 47px;
		width: 47px;
		background: url(../img/panel.png) center center no-repeat;
		&:focus {
			border-color: black;
		}
		}
		.menu {
right: 25%;
font-size: 10px;
height: auto;
width: auto;
color: black;
	text-decoration: none;
	&-content-string {
		border: solid white 1px;
		margin-top: -1px;
		background-color: #7EE5E5;
		text-align: center;
		a {
			text-decoration: none;
			color: black;
			&:hover {
				color: white;
			}
		}
		p {
			margin: 3px;
		}
	}
	}
}